# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Go files
[*.go]
indent_style = tab
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# JavaScript/TypeScript files
[*.{js,ts,jsx,tsx}]
indent_size = 2

# HTML files
[*.html]
indent_size = 2

# CSS/SCSS files
[*.{css,scss,sass}]
indent_size = 2

# Shell scripts
[*.{sh,bash}]
indent_size = 2

# Docker files
[{Dockerfile,Dockerfile.*}]
indent_size = 2

# Makefile
[{Makefile,makefile,*.mk}]
indent_style = tab
indent_size = 4

# Configuration files
[*.{toml,ini,cfg,conf}]
indent_size = 2

# SQL files
[*.sql]
indent_size = 2

# Protocol Buffer files
[*.proto]
indent_size = 2

# Git files
[.gitignore]
indent_size = 2

# License and README files
[{LICENSE,README,CHANGELOG,CONTRIBUTING}